<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>975021124988-8lbqohje992cvgcj1qjs7ltqje01u3l3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.975021124988-8lbqohje992cvgcj1qjs7ltqje01u3l3</string>
	<key>API_KEY</key>
	<string>AIzaSyDOi3ZbqvnHv-5QuRgWGLHnFYepEqkq_y0</string>
	<key>GCM_SENDER_ID</key>
	<string>975021124988</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.airasiaOnlineCheckInSystem</string>
	<key>PROJECT_ID</key>
	<string>airasia-online-check-in-system</string>
	<key>STORAGE_BUCKET</key>
	<string>airasia-online-check-in-system.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:975021124988:ios:35bf81d3f8f05f0c2488f9</string>
</dict>
</plist>